<div class="container p-6 mx-auto">
  <h1 class="mb-4 text-3xl font-bold text-gray-800">Account: <%= @account.name %></h1>
  <p>Supplier: <%= @account.supplier.name if @account.supplier %></p>
</div>
